/* Стандартні Налаштування */
/* html {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
} */

:root {
  --primary-accent-color: #4D5AE5;
  --secondary-accent-color: #31D0AA;

  --primary-text-color-dark: #434455;
  --secondary-text-color-dark: #000000;

  --primary-text-color-light: #E7E9FC;
  --secondary-text-color-light: #ffffff;

  --primary-title-color-dark: #2E2F42;
  --secondary-title-color-dark: #000000;

  --primary-title-color-light: #ffffff;
  --secondary-title-color-light: #F4F4FD;

  --primary-background-color-light: #ffffff;
  --secondary-background-color-light: #F4F4FD;

  --primary-background-color-dark: #2E2F42;
  --secondary-background-color-dark: #000000;

  --primary-font-title: 'Roboto', sans-serif;
  --secondary-font-title:'Raleway', sans-serif;

  --primary-font-text: 'Roboto', sans-serif;
  /* --secondary-font-text: ; */

  --outline-pri: 2px solid rgb(150, 255, 0);
  --outline-seco: 2px solid rgb(255, 0, 0);

  --background-pri: rgb(150, 150, 150);
  --background-seco: rgb(200, 150, 100);
}







body {
  font-family: var(--primary-font-text);
  color: var(--primary-text-color-dark);
  background-color: var(--primary-background-color-light);
  font-size: 16px;
  letter-spacing: 0.02em;
  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hidden-titles{
  color: grey;
}

/* ================== Компоненти ================== */
      
.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline:var(--outline-pri) ;
}


.sub-title {
  font-size: 20px;
  color: var(--primary-title-color);
  line-height: 1.5;
  font-weight: 600;
}
.text {
  line-height: 1.5;
}


.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
/* ================== /Компоненти ================== */

/* ================== Шапка ================== */
.header{
  background-color: var(--color-white);
}

/* Логотип */

.logo {
  color: var(--primary-accent-color);
  font-family:var(--secondary-font-title) ;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  color: var(--primary-title-color-dark);
}
.logo-footer {
  color: var(--secondary-background-color-light);
}
/* Навігація */
.menu-link {
  color: var(--primary-title-color-dark);
  font-weight: 600;
  line-height: 1.5;
}
/* .corrent{
  color: var(--primary-accent-color);
} */
.menu-link:hover,
.menu-link:focus {
  color: var(--primary-text-color-dark);
}
.menu-link:active {
  color: var(--primary-accent-color);
}
/* Контакти */
.contacts-header-link {
  color: var(--primary-text-color-dark);
  font-style: normal;
  line-height: 1.5;
}
.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--primary-accent-color);
}
/* ================== /Шапка ================== */


/* ================== Контент ================== */
.main-team {
  background-color: var(--secondary-background-color-light);
}
.company-benefits{
  background-color: var(--primary-background-color-light);
}

.company-products{
  background-color: var(--primary-background-color-light);
}

/* Hero Контент */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: var(--primary-title-color-light);
  font-size: 56px;
  font-weight: 600;
  line-height: 1.07; 

}
.hero-btn {
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  /* для тексту */
  font-family: var(--primary-font-title);
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-title-color-light);
  line-height: 1.5;
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-btn:active {
  background-color: #404bbf;
}
/* ================== /Контент ================== */

/* ================== Футер ================== */
.footer {
  background-color: var(--primary-background-color-dark);
}

.text-footer {
  line-height: 1.5; 
  color: var(--primary-text-color-light);
}
/* ================== /Футер ================== */

/* ================== Портфоліо ================== */

.portfolio{
  background-color: var(--primary-background-color-light);
}

/* Кнопки фільтра */
.filter-btns {
  font-family: var(--primary-font-title);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-accent-color);
  cursor: pointer;
}
.filter-btns:hover,
.filter-btns:focus {
  color: #ffffff;
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* ================== Портфоліо ================== */


