/* font color  */
/* колір заголовків #2E2F42 */
/* основний колір #434455 */
/* колір лого, кнопок і ховер ефектів #4D5AE5  */
/* колір тексту в футорі #E7E9FC , білий #FFFFFF  */
/* колір лого в футорі #F4F4FD */

/* background color */
/* фон головний #2E2F42 */
/* фон команда #F4F4FD */

:root {
  --brand-color: #4d5ae5;
  --color-text-main: #434455;
  --color-title-background: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-main);
}

.list {
  list-style: none;
}

/* Шапка */

/* Логотип */
.logo {
  color: var(--brand-color);
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}
/* Навігація */
.site-nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  letter-spacing: 0.02em;
  color: var(--color-text-main);
}
.site-nav .link:active {
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

/* Контакти */
.contacts-header .link {
  color: var(--color-text-main);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}

.contacts-header .link:hover,
.contacts-header .link:focus  {
  color: var(--brand-color);
}



/* Контент */

.team-background {
  background-color: #f4f4fd;
}

/* Hero Контент */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.hero-btn {
  width: 170px;
  height: 51px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  /* для тексту */
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  letter-spacing: 0.04em;
}

.hero-btn:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.04em;
}

/* Заголовки і текст секцій */
.section .title {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--color-title-background);
}
.section .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.section > .title {
  font-size: 36px;
  line-height: 1.1;
}

/* Футер */

.footer {
  background-color: var(--color-title-background);
}

.footer .link {
  text-decoration: none;
}

.text-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Кнопки фільтра */

.section .filter-btns {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
    cursor: pointer;
}

.section .filter-btns:hover,
.section .filter-btns:focus {
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}


/* Портфоліо */

.portfolio .link {
  text-decoration: none;
}
/* 
.portfolio .link:hover{

  background-color: var(--brand-color);
  
} */
